.asd {
  color: white;
}

.deneme {
  color: white;
}

.abs {position: relative;}

.movie-img {
  position: relative;
}

.background {
  position: absolute;
  background-color:rgb(16, 20, 30, 0.5);
  padding: 10px;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  top: 3%;
  right: 6%;
}

svg {
  position: absolute;
  width: 12px;
  height: 14px;
  
}